:root {
  --additionala: rgba(198, 178, 0, 1);
  --additionalb: rgba(222, 200, 2, 1);
  --additionalc: rgba(243, 219, 0, 1);
  --additionald: rgba(255, 236, 69, 1);
  --grey-1: rgba(113, 114, 117, 1);
  --israel-betolaza-body-1-font-family: "Roboto-Medium", Helvetica;
  --israel-betolaza-body-1-font-size: 36px;
  --israel-betolaza-body-1-font-style: normal;
  --israel-betolaza-body-1-font-weight: 500;
  --israel-betolaza-body-1-letter-spacing: 0px;
  --israel-betolaza-body-1-line-height: normal;
  --israel-betolaza-body-2-font-family: "Roboto-Regular", Helvetica;
  --israel-betolaza-body-2-font-size: 32px;
  --israel-betolaza-body-2-font-style: normal;
  --israel-betolaza-body-2-font-weight: 400;
  --israel-betolaza-body-2-letter-spacing: 0px;
  --israel-betolaza-body-2-line-height: normal;
  --israelbetolazamainprimary: rgba(222, 200, 2, 1);
  --israelbetolazaneutralblack: rgba(0, 0, 0, 1);
  --israelbetolazaneutraldark: rgba(106, 106, 106, 1);
  --israelbetolazaneutrallight: rgba(247, 247, 244, 1);
  --israelbetolazaneutralmedium: rgba(196, 196, 196, 1);
  --mainmain: rgba(222, 200, 2, 1);
  --neutralblack: rgba(0, 0, 0, 1);
  --neutraldark: rgba(106, 106, 106, 1);
  --neutrallight: rgba(247, 247, 244, 1);
  --neutralmedium: rgba(196, 196, 196, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
}
