.CV {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.CV .div-2 {
  background-color: var(--neutralwhite);
  height: 3508px;
  position: relative;
  width: 2480px;
}

.CV .overlap {
  height: 3148px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 1433px;
}

.CV .rectangle-2 {
  background-color: var(--mainmain);
  height: 16px;
  left: -149px;
  position: absolute;
  top: 1566px;
  transform: rotate(-90deg);
  width: 3148px;
}

.CV .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 140px;
  left: 0;
  position: absolute;
  top: 240px;
}

.CV .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
}

.CV .design-component-instance-node {
  color: var(--neutraldark) !important;
}

.CV .design-component-instance-node-2 {
  background-color: var(--mainmain) !important;
}

.CV .content {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 1227.83px;
}

.CV .line {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.CV .dots {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 56px;
  position: relative;
}

.CV .design-component-instance-node-3 {
  flex: 0 0 auto !important;
}

.CV .design-component-instance-node-4 {
  color: var(--neutralblack) !important;
}

.CV .componont-data-list-instance {
  background-color: var(--neutrallight) !important;
  border-color: var(--mainmain) !important;
}

.CV .component-title-2 {
  width: 1329px !important;
}

.CV .group-3 {
  height: 352px;
  margin-right: -2px;
  position: relative;
  width: 1333px;
}

.CV .text-wrapper-3 {
  color: var(--neutralblack);
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 1.5px;
  line-height: 42px;
  position: absolute;
  top: 0;
  width: 1307px;
}

.CV .lorem-ipsum-dolor-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  left: 0;
  padding: 0px 0px 0px 24px;
  position: absolute;
  top: 82px;
}

.CV .text-wrapper-4 {
  color: var(--neutralblack);
  font-family: "Roboto", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: 54px;
  margin-top: -1px;
  position: relative;
  width: 1307px;
}

.CV .frame-wrapper {
  height: 552px;
  position: relative;
  width: 1331px;
}

.CV .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.CV .text-wrapper-5 {
  color: var(--neutralblack);
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 42px;
  margin-top: -1px;
  position: relative;
  width: 1307px;
}

.CV .div-wrapper {
  height: 486px;
  position: relative;
  width: 1331px;
}

.CV .sed-ut-perspiciatis-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 0px 0px 24px;
  position: relative;
}

.CV .group-4 {
  height: 660px;
  position: relative;
  width: 1331px;
}

.CV .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 0px 0px 24px;
  position: relative;
}

.CV .group-5 {
  height: 336px;
  position: relative;
  width: 1331px;
}

.CV .overlap-group-wrapper {
  height: 122px;
  left: 2352px;
  position: absolute;
  top: 3386px;
  width: 106px;
}

.CV .overlap-group {
  height: 122px;
  position: relative;
  width: 104px;
}

.CV .rectangle-3 {
  background-color: var(--mainmain);
  height: 104px;
  left: -9px;
  position: absolute;
  top: 9px;
  transform: rotate(-90deg);
  width: 122px;
}

.CV .element {
  color: transparent;
  font-family: var(--israel-betolaza-body-1-font-family);
  font-size: var(--israel-betolaza-body-1-font-size);
  font-style: var(--israel-betolaza-body-1-font-style);
  font-weight: var(--israel-betolaza-body-1-font-weight);
  left: 24px;
  letter-spacing: var(--israel-betolaza-body-1-letter-spacing);
  line-height: var(--israel-betolaza-body-1-line-height);
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.CV .span {
  color: #ffffff;
  font-family: var(--israel-betolaza-body-1-font-family);
  font-size: var(--israel-betolaza-body-1-font-size);
  font-style: var(--israel-betolaza-body-1-font-style);
  font-weight: var(--israel-betolaza-body-1-font-weight);
  letter-spacing: var(--israel-betolaza-body-1-letter-spacing);
  line-height: var(--israel-betolaza-body-1-line-height);
}

.CV .text-wrapper-6 {
  color: #6a6a6a;
  font-family: var(--israel-betolaza-body-1-font-family);
  font-size: var(--israel-betolaza-body-1-font-size);
  font-style: var(--israel-betolaza-body-1-font-style);
  font-weight: var(--israel-betolaza-body-1-font-weight);
  letter-spacing: var(--israel-betolaza-body-1-letter-spacing);
  line-height: var(--israel-betolaza-body-1-line-height);
}

.CV .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 80px;
  left: 1753px;
  position: absolute;
  top: 240px;
}

.CV .icon-instance-node {
  height: 64px !important;
  position: relative !important;
  width: 64px !important;
}

.CV .card-information-instance {
  width: 231px !important;
}

.CV .card-information-2 {
  width: 153px !important;
}

.CV .group-6 {
  width: 182px !important;
}
