.componont-data-list {
  align-items: flex-start;
  display: flex;
  gap: 48px;
  position: relative;
  width: 1226px;
}

.componont-data-list .text-wrapper {
  color: var(--israelbetolazaneutralblack);
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: 211px;
}

.componont-data-list .group-2 {
  background-color: var(--israelbetolazaneutrallight);
  border: 4px solid;
  border-color: var(--israelbetolazamainprimary);
  border-radius: 100px;
  height: 38px;
  position: relative;
  width: 38px;
}

.componont-data-list .frame {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.componont-data-list .at-vero-eos-et {
  position: relative;
}

.componont-data-list .p {
  color: var(--israelbetolazaneutralblack);
  font-family: var(--israel-betolaza-body-1-font-family);
  font-size: var(--israel-betolaza-body-1-font-size);
  font-style: var(--israel-betolaza-body-1-font-style);
  font-weight: var(--israel-betolaza-body-1-font-weight);
  letter-spacing: var(--israel-betolaza-body-1-letter-spacing);
  line-height: var(--israel-betolaza-body-1-line-height);
  margin-top: -1px;
  position: relative;
  width: 881px;
}

.componont-data-list .text-wrapper-2 {
  color: var(--israelbetolazaneutraldark);
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 881px;
}

.componont-data-list .company-name-TOWN {
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
  width: 881px;
}

.componont-data-list .bullets {
  gap: 24px;
}

.componont-data-list .default {
  gap: 8px;
}

.componont-data-list .frame.bullets .at-vero-eos-et {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
}

.componont-data-list .frame.default .at-vero-eos-et {
  color: var(--israelbetolazaneutralblack);
  font-family: var(--israel-betolaza-body-1-font-family);
  font-size: var(--israel-betolaza-body-1-font-size);
  font-style: var(--israel-betolaza-body-1-font-style);
  font-weight: var(--israel-betolaza-body-1-font-weight);
  letter-spacing: var(--israel-betolaza-body-1-letter-spacing);
  line-height: var(--israel-betolaza-body-1-line-height);
  margin-top: -1px;
  width: 881px;
}

.componont-data-list .frame.bullets .company-name-TOWN {
  color: var(--israelbetolazaneutralblack);
  line-height: 50px;
}

.componont-data-list .frame.default .company-name-TOWN {
  color: var(--israelbetolazaneutraldark);
  line-height: normal;
}
