.card-information {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}

.card-information .component-title-instance {
  flex: 0 0 auto !important;
}

.card-information .information-example {
  color: var(--israelbetolazaneutralblack);
  font-family: "Roboto", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 80px;
  position: relative;
  width: 567px;
}

.card-information .icon-informaci-n-2 {
  height: 64px !important;
  position: relative !important;
  width: 64px !important;
}
